<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
</head>

<body>
    <div class="black"></div>
    <div class="home">
        <header>
            <div class="logo">Startup</div>
            <nav>
                <ul class="nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Clients</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="welcome">
            <h1>Welcome to startup</h1>
            <p>Your Favourite Creative Agency Template</p>
            <a href="" class="getstarted">Get Started</a>
        </div>
    </div>
    <div class="services">
        <h3>Services</h3>
        <p>We offer Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="cards">
            <div class="card">
                <img src="./imgs/Clean.png" class="card-img">
                <div class="card-title">Clean typography</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos iste, nemo dicta ullam tempore quas
                    reiciendis sed enim sequi ea voluptatem tenetur deserunt animi.</p>
            </div>
            <div class="card">
                <img src="./imgs/Rock.png" class="card-img">
                <div class="card-title">Rock solid code</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos iste, nemo dicta ullam tempore quas
                    reiciendis sed enim sequi ea voluptatem tenetur deserunt animi.</p>
            </div>
            <div class="card">
                <img src="./imgs/Expert.png" class="card-img">
                <div class="card-title">Expert support</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos iste, nemo dicta ullam tempore quas
                    reiciendis sed enim sequi ea voluptatem tenetur deserunt animi.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="socials"><img src="./imgs/twitter.png" class="social"><img src="./imgs/twitter.png"
                class="social"><img src="./imgs/twitter.png" class="social"><img src="./imgs/twitter.png"
                class="social"></div>
        <p>© 2015 Startup, Designed by ShapedTheme</p>
    </footer>
</body>

</html>