body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    transition: 1s ease;
}
h1 {
    text-transform: uppercase;
}
.visited:visited {
    color: brown;
}
.link:link {
    color: chartreuse;
}
a {
    transition: .5s ease ;
    text-decoration: none;
    color: black;
}
.hover:hover {
    color: crimson;
}
.active:active {
    color: darkblue;
}
.focus:focus {
    color: darkgreen;
}
.noclient:not(:first-child, :last-child){
    color: red;
}
.noclient:last-child {
    font-weight: bold;
    text-decoration: underline;
}