li > a {
    position: relative;
    text-decoration: none;
    transition: .4s .05s cubic-bezier(0.25, 0.1, 0.18, 1.07);
    color: cornflowerblue;
    margin-bottom: 30px;
    animation: .7s ease-in opaci;
}
li > a:hover {
    color: cadetblue;
    position: relative;
    font-size: 32px;
}
.lessons {
    margin-bottom: 50px;
    width: 500px;
    background-color: #9ffcca;
    border-radius: 15px;
    animation: .7s ease-in opaci;
}
body {
    margin-left: 16px;
    font-size: 24px;
    font-family: 'Exo', sans-serif;
    background-color: #c2ffde;
}
.Title {
  text-align: center;
  font-weight: 700;
  animation: linear ;
}
.welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@keyframes opaci {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}
#return > img {
    width: 25px !important;
    height: 25px !important;
    position: fixed;
    right: 0;
    top: 100px;
    left: 0;
    bottom: 0;
    transition: .2s ease;
}
#return > img:hover {
    width: 30px !important;
    height: 30px !important;

}