div {
    font-size: 90%;
}
h1 {
    position:relative;
    right: -5px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p.bigtext {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: relative;
}
h2 {
    position:relative;
    right: -5px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
a {
    position:relative;
    right: -5px;
    text-decoration: none;
    font-weight: bold;
    color: chocolate;
}
li {
    font-weight: bold;
}
body {
    background-color: #afcdde;
}
img.popey {
    width: 150px;
    position: relative;
    right: -500px;
    top: 15px;
}
.bigtext {
    position: absolute;
    white-space: nowrap;
    animation: rightThenLeft 4s linear;
}
table {
    border: 2px solid #708a99;
    border-collapse: collapse;
}
td, th {
    font-size: 24px;
    text-align: center;
    width: 16%;
    height: 100px;
    border: 1px solid #708a99;
}
td:hover {
    border-collapse: 1px;
    border: 2px solid yellow;
}

@keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
