h1, h1 span, h2 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    margin-bottom: 40px;
}
h1 span {
    color: chartreuse;
}
body {
    background-color: ghostwhite;
}
td.main-left {
    border: 1px solid grey;
    font-size: small;
    text-align: center;
    width: 450px;
    box-shadow: 0 2px 15px 1px grey;
    padding: 0 15px;
}
td.main-right {
    width: 70%;
    font-size: small;
    text-align: center;
    border: 1px solid grey;
    font-size: small;
    text-align: center;
    box-shadow: 0 2px 15px 1px grey;
    padding: 0 15px;
}
span.bold {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
td {
    border-bottom: 1px solid black;
    width: 450px;
}
a {
    color: darkblue;
}