body 
{
    font-weight: 500;
    background-color: #333;
}
a 
{
    text-decoration: none;
}
/*backround color (site made for 1440 monitors)*/
.desktop 
{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    background-color: #fff;
}
header > .vr 
{
    margin: 30px 0;
    height: 40px;
}
header 
{
    display: flex;
    height: 100px;
    margin: 0 100px;
    border-bottom: 1px solid #D0D0D0;
}
header > * 
{
    height: 40px;
    margin: 30px 0;
    margin-left: 24px;
    margin-right: 24px;
}
header > .logo > img 
{
    position: relative;
    top: -15px;
}
i 
{
    font-size: 20px;
    color: #000;
    opacity: .5;
}
.number 
{
    font-weight: 700;
    display: flex;
}
header > .number > i
{
    font-size: 39px;
}
.maistra 
{
    display: flex;
    height: 55px;
}
.maistra > .container 
{
    padding-top: 10px;
    border: 5px #EFF3F6 solid;
    border-radius: 3px;
    display: inherit;
    background-color: #EFF3F6;
    display: inherit;
    justify-content: center;
}
.maistra > .btn-header 
{
    padding-top: 7px;
    width: 50px;
    border: 3px #DD4053 solid;
    border-radius: 5px;
    background-color: #DD4053;
    display: flex;
    justify-content: center;
}
.tours 
{
    display: flex;
    height: 55px;
}
.tours > .container 
{
    padding-top: 10px;
    border: 5px #EFF3F6 solid;
    border-radius: 3px;
    display: inherit;
    background-color: #EFF3F6;
    display: inherit;
    justify-content: center;
}
.tours > .btn-header 
{
    padding-top: 7px;
    width: 50px;
    border: 5px #4AD295 solid;
    border-radius: 3px;
    background-color: #4AD295;
    display: flex;
    justify-content: center;
}
.btn-header > i 
{
    color: #fff;

}
/*navigation*/
nav
{
    background-color: #fff;
    display: flex;
    height: 80px;
}
nav > ul > li 
{
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
}
li > a 
{
    color: #616161;
    display: flex;
}
nav > ul 
{
    padding-top: 28px;
    padding-bottom: 23px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
/*slider*/
.darkness 
{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 500;
}
/*Operator*/
.operator 
{
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 220px;
}
.operator > * 
{
    display: flex;
    flex-direction: column;
}
.operator > * > * 
{
    display: flex;
}
.operator > * > p 
{
    color: #777777;
}
.operator > * > .buttons > :first-of-type
{
    background-color: #BDBDBD;
    width: 270px;
    font-size: 16px;
    margin-right: 30px;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}
.operator > * > .buttons > :last-of-type
{
    border: #969696 1px solid;
    border-radius: 2px;
    width: 220px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}
.circle 
{
    width: 30px;
    height: 30px;
    border: dashed #969696 1.2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.circle > i 
{
    position: relative;
    top: -.1em;
}
/*hotel slider*/
.hotel 
{
    width: 460px;
    height: 450px;
    padding-top: 20px;
}
.hotel > .loc 
{
    color: #fff;
    font-weight: 300;
    width: 195px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}
.hotel > h5 
{
    text-align: center;
    vertical-align: middle;
}
.hotel > .rating > i 
{
    color: #FFD600;
    opacity: 1;
}
.hotel > .rating 
{
    padding-top: 130px;
}
.carousel-item 
{
    background: #f8f8f8;
}
.carousel-item > .d-flex
{
    margin-left: 200px;
    margin-right: 200px;
}
.tour-img
{
    width: 300px;
    height: 200px;
}
.tour
{
    margin-top: 23px;
}
.tour > p 
{
    font-weight: 400;
    color: #C9C9C9;
}
.tour > h1 
{
    font-weight: 500;
    font-size: 20px;
}
.tour > .w-25
{
    margin-right: 25px;
    font-size: 12px;
    color: #3E3E3E;
}
.tour > .w-75
{
    margin-left: 20px;
    color: #C9C9C9;
    font-weight: 400;
    font-size: 12px;
}
.tour > .w-75 > .price
{
    font-size: 16px;
    color: #DD4053;
}
.tour > .w-75 > .price > span
{
    font-size: 24px;
}
.tour-block
{
    margin-right: 30px;
    width: 325px;
}
.tours
{
    height: 500px;
}
.find > ul 
{
    display: flex;
}
.find > ul:first-of-type > li
{
    margin-right: 10px;
}
.find > ul > li
{
    width: 200px;
    list-style-type: none;
}
.find > ul > li > input
{
    width: 100px;
}
.find > ul > li:nth-child(2) > input
{
    width: 150px;
}
.find > ul > li:nth-child(3) > input
{
    width: 150px;
}
.find > ul > li:nth-child(4) > input
{
    width: 150px;
}
.find > ul > a 
{
    background: #DD4053;
    color: #fff;
    width: 130px;
    text-align: center;
    border: #DD4053 solid 5px;
    border-radius: 3px;
    line-height: 40px;
    height: 50px;
}
.news-block > div
{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
.news > div:first-of-type
{
    width: 240px;
    height: 170px;
}
.news-date
{
    color: #BBBBBB;
    font-weight: normal;
}
.news-detail 
{
    font-weight: normal;
    text-decoration: underline;
    color: #000;
}
.news-detail:hover 
{
    color: #DD4053;
}